body {
    font-family:'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family:'Noto Sans TC', sans-serif;
   text-transform:capitalize
}

.subheading {
    font-family:'Noto Sans TC', sans-serif;
	text-transform:capitalize;
	margin-bottom: 3rem;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;