body {
    font-family: 'Alegreya', serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: 'Alegreya', serif;
   text-transform:capitalize
}

.subheading {
    font-family: 'Alegreya', serif;
	text-transform:capitalize;
	margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6, .subheading  {
    text-transform:none;
}

h1, .h1 {
    font-size: 5rem;
}

p.lead {
    font-size: 1.2rem;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

.bg-primary {
   background-color: #008096;
   background-image: url("../assets/img/shattered.png");
}

.text-primary {
    color: #008096;
}

a {
  color: #008096;
  text-decoration: none;
  background-color: transparent;
}

h1, .h1 {
    font-size: 6rem;
	color: #495057;
}

h2, .h2 {
    font-size: 3.5rem;
	color: #495057;
}

.fa-ul>li {
    position: relative;
	font-size: 1.25rem;
}

a:visited {
    color:#a8866f;
	background-color:#d6efff;
}

.flip-card {
  background-color: #e8e0f594;
  width: 430px;
  height: 430px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-2 {
  background-color: #e8e0f594;
  width: 430px;
  height: 430px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  position: right;
}

.flip-card-3 {
  background-color: #e8e0f594;
  width: 430px;
  height: 590px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-4 {
  background-color: #e8e0f594;
  width: 430px;
  height: 590px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  position: right;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-2:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-3:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-4:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:#e8e0f594;;
}

.flip-card-back {
  background-color:#e8e0f594;
  color: black;
  transform: rotateY(180deg);
}

div.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
